################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Notes.Identity/Notes.Identity/obj
/Notes.Identity/.vs/Notes.Identity
/Notes.Identity/Notes.Identity/bin/Debug/net5.0
*.jwk
/Notes.Identity/Notes.Identity/Platinum.Auth.db
*.txt
